# dependencies
node_modules
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local
GOOGLE_SERVICE_ACCOUNT_KEY-oneline.txt

# next
.next
out

# prisma
prisma/*.db
prisma/*.db-journal

# misc
.DS_Store
*.pem
debug.log
